/build
/generatedFiles
/cordova
/ext
/bootstrap.*
classic.json*
modern.json*
.sencha
.idea
*.idea
*.idea*
docker-compose.yml
Dockerfile-dev
Dockerfile
/nginx
/resources/js/dev.js
/Dockerfile-build
/SenchaCmd.sh
