<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AW8qnVp5wLsfKOIEb1gL6NceWglq2uIxw40MBIGXNQnO2liT8u-yYEmua-ooRa-DzmpvV-ziLLvOXop3&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'subscribe'
        },
        createSubscription: function(data, actions) {
            return actions.subscription.create({
                /* Creates the subscription */
                plan_id: 'P-5TD11564AJ864640TMEPVIKA',
                quantity: 1 // The quantity of the product for a subscription
            });
        },
        onApprove: function(data, actions) {
            alert(data.subscriptionID); // You can add optional success message for the subscriber here
        }
    }).render('#paypal-button-container'); // Renders the PayPal button
</script>