body > * { display: none; }
body > #ext-viewport { display: none !important;}
body > #erp-container-print { display: block;}
html {
    height: auto !important;
    overflow: auto !important;
    position: static !important;
}
body {
    height: auto !important;
    overflow: auto !important;
    position: static !important;
}

@page {
    size: auto;
    margin: 0;
    background-color: white !important;
}
.page-indent {
    page-break-before: always;
    margin: 10mm;
}