/*$border-color: dynamic(#ddd);

$panel-header-background-color: dynamic($base-color);

$mask-page-opacity: dynamic($mask-opacity);
$mask-page-background-color: dynamic($mask-background-color);

//-----------------------------------------

$main-nav-width: dynamic(260px);
$main-nav-collapsed-width: dynamic(64px);
$main-toolbar-height: dynamic(65px);
$main-phone-toolbar-height: dynamic(56px);

$circle-border-radius: dynamic(50%);
$base-border-color: dynamic(#ddd);
$lightest-color:dynamic(#fff);
$font-weight-normal: dynamic(400);
$font-weight-bold: dynamic(500);

$accordion-header-background-color: dynamic($lightest-color);
$accordion-header-color: dynamic(#333);

$social-facebook-btn-background: dynamic(#167abc);
$social-twitter-btn-background: dynamic(#03b4d5);
$social-google-plus-btn-background: dynamic(#e44959);
$social-envelope-btn-background: dynamic(#7754aa);

@mixin list-item-title() {
    font-weight: 600;
    line-height: 20px;
}

@include button-ui(
    $ui: 'bright-blue',
    $color: #fff,
    $icon-color: #fff,
    $background-color: #03a9f5,
    $border-width: 0
);

@include button-ui(
    $ui: 'round',
    $border-radius: 50%,
    $border-radius-big: 50%
);

@include button-ui(
    $ui: 'header',
    $color: #999,
    $icon-color: #999,
    $background-color: transparent,
    $border-width: 0
);

@include button-ui(
    $ui: 'blue',
    $color: #fff,
    $icon-color: #fff,
    $background-color: #167abc,
    $border-width: 0
);

@include button-ui(
    $ui: 'facebook',
    $color: #fff,
    $icon-color: #fff,
    $background-color: $social-facebook-btn-background,
    $border-color: darken($social-facebook-btn-background, 5%)
);

@include button-ui(
    $ui: 'gray-button',
    $color: #fff,
    $icon-color: #fff,
    $background-color: #a7a7a7,
    $border-width: 0
);

@include button-ui(
    $ui: 'soft-blue',
    $color: #fff,
    $icon-color: #fff,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include button-ui(
    $ui: 'soft-cyan',
    $color: #fff,
    $icon-color: #fff,
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);

@include button-ui(
    $ui: 'soft-green-dark',
    $color: #fff,
    $icon-color: #fff,
    $pressed-color: #fff,
    $background-color: $color-soft-green,
    $border-color: darken($color-soft-green, 5%)
);

@include button-ui(
    $ui: 'soft-purple',
    $color: #fff,
    $icon-color: #fff,
    $background-color: $color-soft-purple,
    $border-color: darken($color-soft-purple, 5%)
);

@include button-ui(
    $ui: 'soft-red',
    $color: #fff,
    $icon-color: #fff,
    $background-color: $color-soft-red,
    $border-color: darken($color-soft-red, 5%)
);

.x-big .x-button-header .x-icon-el {
    font-size: 18px;
    font-weight: normal;
}*/

//---------------------------------------------------------------------------
//.center-div > .x-panel-body-wrap-el > div > .x-panel-body-el {
.center-div {
    //background-image: linear-gradient(0deg, #cbdde2 1.1px, transparent 0), linear-gradient(90deg,#cbdde2 1.1px, transparent 0);
    //background-size: 10px 10px;
    //background-color: #9dafb4;
    background-color: $erp-blue;
}
.main-btn-chevron {
    position: absolute;
    top: 21px;
    left: -3px;
    background-color: #ffffff !important;
    z-index: 99999999999;
    .x-inner-el {
        padding: 10px 2px !important;
        padding-right: 1px !important;
        border: 1px solid #5BA1CA !important;
        border-left: 0 !important;
    }

}
