.center-div {
    //background-image: linear-gradient(0deg, #cbdde2 1.1px, transparent 0), linear-gradient(90deg,#cbdde2 1.1px, transparent 0);
    //background-size: 10px 10px;
    //background-color: #9dafb4;
    background-color: $erp-blue;
}
.main-btn-chevron {
    position: absolute;
    top: 21px;
    left: -3px;
    background-color: #ffffff !important;
    z-index: 99999999999;
    .x-inner-el {
        padding: 10px 2px !important;
        padding-right: 1px !important;
        border: 1px solid #5BA1CA !important;
        border-left: 0 !important;
    }

}
