//.x-treelist-nav .x-treelist-item-selected .x-treelist-item-text
//{
//  color: $accent-foreground-color;
//}
/*
$erp-row-active: $erp-gold;

$treelist-nav-ui: dynamic((
        padding: 0 $content-padding,
        background-color: $background-color,
        toolstrip-background-color: $background-color,
        tool-selected-color: $color,
        tool-selected-background-color: darken($background-color, 15%),
        tool-float-indicator-width: 4px,
        tool-float-indicator-color: $accent-light-color,
        tool-indicator-selected-color: $accent-color,
        tool-indicator-selected-width: 4px,
        row-indicator-width: 6px,
        row-indicator-selected-color: $accent-color,
        row-indicator-selected-over-color: $accent-color,
        row-indicator-over-color: $accent-light-color,
        item-expanded-background-color: darken($background-color, 4.6%),
        item-line-height: 35px,
        item-icon-color: lighten($color, 25%),
        item-expander-color: lighten($color, 30%),
        item-text-color: $color,
        row-over-background-color: darken($background-color, 10%),
        row-over-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
        item-icon-over-color: lighten($color, 25%),
        item-expander-over-color: $color,
        item-text-over-color: $color,
        item-text-font-size: 14px,
        item-icon-font-size: 16px,
        item-icon-width: 18px,
        item-expander-font-size: 16px,
        item-expander-width: 28px,
        item-icon-over-transition: none,
        item-text-over-transition: none,
        item-expander-over-transition: none,
        item-expander-glyph: 'keyboard_arrow_down',
        item-expander-expanded-glyph: 'keyboard_arrow_up',
        row-selected-background-color: darken($background-color, 10%)
));
*/

.menu-icon {
  font-size: 18px;
  line-height: 44px;
  &.dashboard:before {
    font-family: 'Material Icons';
    content: 'dashboard';
  }
  &.purchases:before {
    font-family: 'Material Icons';
    content: 'add_to_photos';
  }
  &.account-balance:before {
    font-family: 'Material Icons';
    content: 'account_balance';
  }
  &.account-balance-wallet:before {
    font-family: 'Material Icons';
    content: 'account_balance_wallet';
  }
  &.format-list-numbered:before {
    font-family: 'Material Icons';
    font-size: 24px;
    content: 'format_list_numbered';
  }
  &.fact-check:before {
    font-family: 'Erp Material Icons';
    font-size: 24px;
    content: 'fact_check';
  }
}

.x-treelist-nav .x-treelist-item-tool {
  width: 70px !important;
}
.main-menu {
  .x-treelist-item-expandable {
    .x-treelist-container {
      .x-treelist-item-text {
        margin-left: 24px !important;
      }
    }
  }
}
