/* Fonts */
@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
    src: url('/resources/fonts/Noto_Sans/NotoSans-Regular.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: italic;
    src: url('/resources/fonts/Noto_Sans/NotoSans-Italic.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    font-style: normal;
    src: url('/resources/fonts/Noto_Sans/NotoSans-Bold.ttf') format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    font-style: italic;
    src: url('/resources/fonts/Noto_Sans/NotoSans-BoldItalic.ttf') format('ttf');
    font-display: swap;
}