@font-face {
  font-family: 'Erp Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/material/MaterialIcons-Regular.ttf') format('truetype');
}

.erp-icon {
  font-family: 'Erp Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  //display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  &.dashboard:before {
    content: 'dashboard';
  }
  &.purchases:before {
    content: 'add_to_photos';
  }
  &.account-balance:before {
    content: 'account_balance';
  }
  &.account-balance-wallet:before {
    content: 'account_balance_wallet';
  }
  &.format-list-numbered:before {
    content: 'format_list_numbered';
  }
  &.fact-check:before {
    content: 'fact_check';
  }
  &.movements:before {
    content: 'multiple_stop';
  }
  &.shopping-cart:before {
    content: 'shopping_cart';
  }
  &.edit-note:before {
    content: 'edit_note';
  }
  &.done:before {
    content: 'done';
  }
  &.verified:before {
    content: 'verified';
  }
  &.remove-done:before {
    content: 'remove_done';
  }
  &.insights:before {
    content: 'insights';
  }
  &.movements:before {
    content: 'multiple_stop';
  }
  &.expenses:before {
    content: 'trending_down';
  }
}