.error-page-container {
    background-color: #1f2833;
    color: #fff;
}

.error-page-top-text {
    font-size: 10rem;
    line-height: 10rem;
}
.error-page-desc {
    text-align: center;
    font-size: 1.3rem;
}
